body{
  background: linear-gradient(to right,rgb(24, 239, 34), rgb(37, 235, 162))
}

.container{
  background: linear-gradient(to top, rgb(255, 243, 28), rgb(12, 240, 141));
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border:1px white solid;
  width:320px;
  margin: auto;
  border-radius:30px;
  gap: 5px;
}
.container h1 {
  color: white;
  font-weight: 100;
}
.container p {
  color: rgb(238, 211, 9);
  font-size: 20px;
  font-weight: 500;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li {
  background: white;
  border-radius: 20px;
  padding:16px 16px;
  font-size: 17px;
}
ul li a{
    color: black;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    transition: all .5s;
}
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}